.nav-sidebar li a {
    display: block;
    padding-left: 38px;
}

.nav-sidebar li.active a {
    background-color: #eee;
}

.nav-sidebar a:before {
    content: "\e022";
    font-family: 'Glyphicons Halflings';
    color: #ccc;
    float: left;
    margin-top: -1px;
    margin-left: -23px;
}

.nav-sidebar a:hover::before {
    color: #bbb;
}

.nav-sidebar .active a:before {
    color: #666;
}

.thumbnail a.caption {
    display: block;
}

.thumbnail a.caption:hover {
    background-color: #f3f3f3;
    text-decoration: none;
}

.thumbnail h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.thumbnail p {
    margin: 1em 0 0;
}
